{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Filtrer les sorties</h1>

        {# Section Recherche #}
        <div class="card bg-light mb-4">
            <div class="card-body">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.campus) }}
                        {{ form_row(form.q) }}
                        <div class="row">
                            <div class="col-6">{{ form_row(form.datemin) }}</div>
                            <div class="col-6">{{ form_row(form.datemax) }}</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mt-2">
                            {{ form_row(form.isOrganisateur) }}
                            {{ form_row(form.isInscrit) }}
                            {{ form_row(form.isNotInscrit) }}
                            {{ form_row(form.isPassee) }}
                        </div>
                        <button type="submit" class="btn btn-primary w-100 mt-3">Rechercher</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>

        {# Tableau des sorties (ton code existant) #}
        <div class="d-flex justify-content-between mb-3">
            <h2>Résultats</h2>
            <a href="{{ path('app_sortie_new') }}" class="btn btn-success">+ Créer</a>
        </div>

        <table class="table table-hover">
            {# ... le contenu de ton tableau ... #}
        </table>
    </div>
{% endblock %}
